#header {
  background-color: black;
  color: white;
  padding: 6px;
  display: flex;
}

#website-name{
  z-index: +3;
  font-size: 50px;
}

#nav {
  position: absolute;
  right: 10px;
  margin-top: 22px;
}
