#guide {
  padding-top: 35px;
  text-align: center;
  color: white;
  background-color: #ff99a4;
  text-decoration: none;
}

.fractional-menu {
  text-decoration: none;
  color: white;
}

.fractional-menu:hover {
  color: black;
}

#image-text-fractional {
  top: 480px;
}

#bridge-text {
  font-family: "Source Sans 3";
  font-size: 22px;
  background-color: rgba(44, 80, 50, 0.8);
  padding: 40px;
  opacity: 0.8;
  width: 100%;
}

.grey-container {
  background-color: rgba(210, 210, 210, 0.4);
  padding-top: 10px;
}

.left-titles {
  font-family: Bebas Neue;
  margin-top: 30px;
  padding: 10px;
}

.left-fractional-images {
  border-radius: 0px 100px 0px 0px;
}

.right-titles {
  text-align: end;
  font-family: Bebas Neue;
  margin-top: 30px;
  padding: 10px;
}

.right-fractional-images {
  border-radius: 100px 0px 0px 0px;
}

.ending-text {
  position: relative;
  padding: 30px;
}

.more-simplicit {
  padding: 5px;
  text-align: center;
}

.let-talk-fractional {
  position: relative;
  width: 166px;
  height: 55px;
  color: white;
  background: #ff99a4;
  border: 2px solid rgba(0, 0, 0, 0.45);
  box-sizing: border-box;
  border-radius: 25px;
}

#fractional-button-two {
  right: 18%;
  width: max-content;
  bottom: 8px;
}

footer {
  background-color: black;
  margin-top: 10px;
  overflow: auto;
}

#fractional-footer-left-text {
  float: left;
  margin-top: 10px;
}

#fractional-footer-list-text {
  list-style-type: none;
  color: white;
}

.fractional-footer-icons {
  padding: 5px;
}

#fractional-footer-right-text {
  float: right;
  color: white;
  margin-right: 20px;
  margin-top: 10px;
}

#fractional-enter-email {
  border-radius: 0px;
}

#fractional-subscribe-button {
  color: white;
  background: #ff99a4;
  border: #ff99a4;
  text-align: end;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  #bridge-text {
    font-size: 30px;
  }
  .left-titles {
    font-size: 35px;
  }
  .right-titles {
    font-size: 35px;
  }
  .fractional-text {
    font-size: 25px;
  }
}

@media screen and (max-width: 1000px) {
  #image-text-fractional {
    top: 360px;
  }
  #bridge-text {
    font-size: 18px;
  }
  #fractional-button-two {
    right: 13.5%;
    font-size: 14px;
  }
  .more-simplicit {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .fractional-menu {
    font-size: 15px;
  }
  #image-text-fractional {
    top: 320px;
  }
  #bridge-text {
    font-size: 16px;
  }
  .left-titles {
    text-align: left;
    font-size: 22px;
  }
  .left-fractional-images {
    border-radius: 0px;
  }
  .right-titles {
    text-align: left;
    font-size: 22px;
  }
  .right-fractional-images {
    border-radius: 0px;
    order: 1;
  }
  .fractional-text {
    margin-left: 10px;
    order: 2;
  }
  #fractional-button-two {
    right: 10%;
    font-size: 12px;
    bottom: 5px;
  }
  .more-simplicit {
    font-size: 20px;
  }
  .let-talk-fractional {
    height: 45px;
  }  
}

@media screen and (max-width: 620px) {
  .fractional-menu {
    font-size: 12px;
  }
  .left-titles {
    font-size: 18px;
  }
  .right-titles {
    font-size: 18px;
  }
  .fractional-text {
    margin-left: 10px;
    font-size: 12.5px;
  }
  #image-text-fractional {
    top: 250px;
  }
  #bridge-text {
    font-size: 12px;
  }
  #fractional-foot {
    display: flex;
    flex-flow: column;
  }
  #fractional-footer-left-text {
    order: 2;
  }
  #fractional-footer-right-text {
    float: left;
    margin-left: 32px;
    order: 1;
  }
  #fractional-enter-email {
    width: 65%;
  }
  #fractional-subscribe-button {
    width: 65%;
  }
  #fractional-button-two {
    right: 6%;
  }
}

@media screen and (max-width: 575px) {
  #fractional-button-two {
    right: 0;
    font-size: 10px;
    bottom: 0px;
    display: block;
    max-width: 300px;
    margin: auto;
  }
  .more-simplicit {
    font-size: 18px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 475px) {
  .fractional-menu {
    font-size: 11px;
  }
  #image-text-fractional {
    top: 200px;
  }
}

@media screen and (max-width: 392px) {
  #image-text-fractional {
    top: 170px;
  }
  #bridge-text {
    padding: 20px;
  }
}
