#guide-fractional {
  text-align: center;
  color: white;
  background-color: #ff99a4;
  text-decoration: none;
  padding: 2.1% 10% 0.6% 10%;
  font-family: "Bebas Neue";
  font-size: 20px;
}

.fractional-menu {
  text-decoration: none;
  color: white;
}

.fractional-menu:hover {
  color: black;
}

#bridge-woman {
  position: relative;
  height: 650px;
  object-fit: cover;
  object-position: 50% 90%;
}

#bridge-woman-container {
  position: relative;
  text-align: center;
}

#bridge-text {
  font-family: "Source Sans 3";
  font-size: 24px;
  color: white;
  font-weight: 600;
  background-color: rgba(44, 80, 50, 0.8);
  padding: 2% 14% 2% 14%;
  position: absolute;
  top: 36%;
  width: 100%;
}

.grey-container {
  background-color: rgba(210, 210, 210, 0.4);
  padding-top: 10px;
}

.fractional-titles {
  font-size: 42px;
}

.left-titles {
  font-family: Bebas Neue;
  margin-top: 30px;
  padding: 10px;
}

.fractional-images {
  height: 420px;
  object-fit: cover;
  object-position: 0 5%;
  align-content: flex-start;
}

.left-fractional-images {
  border-radius: 0px 100px 0px 0px;
}

.right-titles {
  text-align: end;
  font-family: Bebas Neue;
  margin-top: 30px;
  padding: 10px;
}

.right-fractional-images {
  border-radius: 100px 0px 0px 0px;
}

.fractional-text {
  font-family: "Source Sans 3";
  font-size: 16px;
}

#fractional-text-space {
  padding-top: 5%;
  padding-right: 30px;
  padding-left: 30px;
}

#simplicit-end {
  margin-top: 20px;
}

.fractional-ending-text {
  position: relative;
  padding: 30px;
  font-family: "Bebas Neue";
}

.fractional-more-simplicit {
  padding: 5px;
  text-align: center;
  font-size: 34px;
}

.let-talk-fractional {
  font-family: "Bebas Neue";
  position: relative;
  color: white;
  background: #ff99a4;
  border: 2px solid rgba(0, 0, 0, 0.45);
  box-sizing: border-box;
  border-radius: 25px;
}

.let-talk-fractional:hover {
  background: white;
  color: #ff99a4;
}

#fractional-button-two {
  right: 20%;
  font-size: 20px;
  height: 38px;
  width: 160px;
  top: 25px;
}

footer {
  background-color: black;
  margin-top: 10px;
  overflow: auto;
}

#fractional-footer-left-text {
  float: left;
  margin-top: 10px;
}

#fractional-footer-list-text {
  list-style-type: none;
  color: white;
}

.fractional-footer-icons {
  padding: 5px;
  visibility: hidden;
}

#fractional-footer-right-text {
  float: right;
  color: white;
  margin-right: 20px;
  margin-top: 10px;
}

#fractional-inspire {
  display: none;
}

#fractional-enter-email {
  border-radius: 0px;
  display: none;
}

#fractional-subscribe-button {
  color: white;
  background: #ff99a4;
  border: #ff99a4;
  text-align: end;
  width: 100%;
  display: none;
}

@media screen and (min-width: 1250px) {
  #guide-fractional {
    padding: 2.1% 10% 0.6% 10%;
    font-size: 24px;
  }
  #bridge-woman {
    height: 700px;
  }
  #bridge-text {
    font-size: 26px;
    top: 42%;
  }
  .fractional-titles {
    font-size: 45px;
  }
  .fractional-text {
    font-size: 18px;
  }
  .fractional-images {
    height: 460px;
    object-position: 50% 15%;
  }
  .fractional-more-simplicit {
    font-size: 38px;
  }
  #fractional-button-two {
    right: 22%;
    font-size: 22px;
    height: 48px;
    width: 160px;
    top: 21px;
  }
}

@media screen and (min-width: 1450px) {
  #guide-fractional {
    padding: 2.1% 10% 0.6% 10%;
    font-size: 26px;
  }
  #bridge-woman {
    height: 750px;
  }
  #bridge-text {
    font-size: 28px;
    top: 42%;
  }
  .fractional-titles {
    font-size: 48px;
  }
  .fractional-text {
    font-size: 20px;
  }
  .fractional-images {
    height: 500px;
    object-position: 50% 15%;
  }
  .fractional-more-simplicit {
    font-size: 42px;
  }
  #fractional-button-two {
    right: 22%;
    font-size: 22px;
    height: 48px;
    width: 160px;
    top: 25px;
  }
}

@media screen and (min-width: 1700px) {
  #guide-fractional {
    padding: 2.1% 12% 0.6% 12%;
    font-size: 30px;
  }
  #bridge-woman {
    height: 800px;
  }
  #bridge-text {
    font-size: 32px;
    top: 36%;
  }
  .fractional-titles {
    font-size: 52px;
  }
  .fractional-text {
    font-size: 24px;
  }
  .fractional-images {
    height: 540px;
    object-position: 50% 15%;
  }
  .fractional-more-simplicit {
    font-size: 44px;
  }
  #fractional-button-two {
    right: 24%;
    font-size: 24px;
    height: 50px;
    width: 170px;
    top: 26px;
  }
}

@media screen and (max-width: 1100px) {
  #guide-fractional {
    padding: 2.1% 10% 0.6% 10%;
    font-size: 18px;
  }
  #bridge-woman {
    height: 600px;
  }
  #bridge-text {
    font-size: 22px;
    top: 40%;
  }
  .fractional-titles {
    font-size: 40px;
  }
  .fractional-text {
    font-size: 14px;
  }
  .fractional-images {
    height: 370px;
    object-position: 30% 5%;
  }
  .fractional-more-simplicit {
    font-size: 32px;
  }
  #fractional-button-two {
    right: 18%;
    font-size: 18px;
    height: 34px;
    width: 140px;
    top: 26px;
  }
}

@media screen and (max-width: 950px) {
  #guide-fractional {
    padding: 2.1% 10% 0.6% 10%;
    font-size: 16px;
  }
  #bridge-woman {
    height: 500px;
  }
  #bridge-text {
    font-size: 20px;
    top: 40%;
  }
  .fractional-titles {
    font-size: 38px;
  }
  .fractional-text {
    font-size: 12px;
  }
  .fractional-images {
    height: 350px;
    object-position: 30% 5%;
  }
  .fractional-more-simplicit {
    font-size: 30px;
  }
  #fractional-button-two {
    right: 16%;
    font-size: 16px;
    height: 32px;
    width: 120px;
    top: 27px;
  }
}

@media screen and (max-width: 815px) {
  #guide-fractional {
    padding: 2.1% 10% 0.6% 10%;
    font-size: 14px;
  }
  #bridge-woman {
    height: 435px;
  }
  #bridge-text {
    font-size: 18px;
    top: 35%;
  }
  .fractional-titles {
    font-size: 34px;
  }
  .fractional-text {
    font-size: 12px;
  }
  .fractional-images {
    height: 350px;
    object-position: 60% 5%;
  }
  .fractional-more-simplicit {
    font-size: 28px;
  }
  #fractional-button-two {
    right: 16%;
    font-size: 14.5px;
    height: 28px;
    width: 105px;
    top: 27px;
  }
}

@media screen and (max-width: 767px) {
  #guide-fractional {
    padding: 2.1% 6% 0.6% 6%;
    font-size: 14px;
  }
  #bridge-woman {
    height: 430px;
  }
  #bridge-text {
    font-size: 16px;
    top: 40%;
  }
  .fractional-titles {
    font-size: 32px;
  }
  .left-titles {
    margin-top: 20px;
    padding: 10px;
  }
  .right-titles {
    text-align: left;
    margin-top: 20px;
  }
  .fractional-text {
    font-size: 12px;
    order: 2;
  }
  #fractional-text-space {
    padding-top: 2%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .fractional-images {
    height: 300px;
    object-position: 60% 15%;
  }
  .left-fractional-images {
    border-radius: 0px;
  }
  .right-fractional-images {
    border-radius: 0px;
  }
  .fractional-more-simplicit {
    font-size: 26px;
  }
  #fractional-button-two {
    right: 16%;
    font-size: 14px;
    height: 26px;
    width: 100px;
    top: 27px;
    margin-top: -20px;
  }
  #simplicit-end {
    margin-top: 0px;
  }
  .fractional-ending-text {
    padding: 8px;
  }
}

@media screen and (max-width: 657px) {
  #guide-fractional {
    padding: 2.1% 3.4% 0.6% 3.4%;
  }
}

@media screen and (max-width: 620px) {
  #guide-fractional {
    padding: 2.1% 2% 0.6% 2%;
    font-size: 12.8px;
  }
  #bridge-woman {
    height: 350px;
  }
  #bridge-text {
    font-size: 13px;
    top: 42%;
  }
  .fractional-titles {
    font-size: 28px;
  }
  .left-titles {
    margin-top: 20px;
    padding: 10px;
  }
  .right-titles {
    text-align: left;
    margin-top: 20px;
  }
  .fractional-text {
    font-size: 11px;
    order: 2;
  }
  #fractional-text-space {
    padding-top: 2%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .fractional-images {
    height: 250px;
    object-position: 60% 15%;
  }
  .left-fractional-images {
    border-radius: 0px;
  }
  .right-fractional-images {
    border-radius: 0px;
  }
  .fractional-more-simplicit {
    font-size: 24px;
  }
  #fractional-button-two {
    right: 0%;
    font-size: 12px;
    height: 22px;
    width: 80px;
    top: 27px;
    margin-top: -20px;
  }
  #simplicit-end {
    margin-top: 0px;
  }
  .fractional-ending-text {
    padding: 8px;
  }
  #fractional-foot {
    display: flex;
    flex-flow: column;
  }
  #fractional-footer-left-text {
    order: 2;
  }
  #fractional-footer-right-text {
    float: left;
    margin-left: 32px;
    order: 1;
  }
  #fractional-enter-email {
    width: 65%;
  }
  #fractional-subscribe-button {
    width: 65%;
  }
  #fractional-button-two {
    right: 14%;
  }
}

@media screen and (max-width: 575px) {
  #guide-fractional {
    padding: 1% 20% 1% 20%;
    font-size: 12.8px;
    word-spacing: 4rem; 
  }
  .fractional-more-simplicit {
    padding: 0px;
  }
  .fractional-ending-text {
    padding: 5px;
  }
  #fractional-button-two {
    right: 0%;
    font-size: 13px;
    height: 26px;
    width: 100px;
    top: 5px;
    margin-bottom: 100px;
    display: block;
    max-width: 300px;
    margin: auto;
  }
  #fractional-foot {
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  #guide-fractional {
    padding: 1% 20% 1% 20%;
    font-size: 11px;
  }
  #bridge-woman {
    height: 300px;
  }
  #bridge-text {
    font-size: 11.5px;
    top: 38%;
  }
  .fractional-titles {
    font-size: 24px;
  }
  .fractional-text {
    font-size: 10px;
    order: 2;
  }
  #fractional-text-space {
    padding-top: 2%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .fractional-images {
    height: 220px;
    object-position: 60% 15%;
  }
  .fractional-more-simplicit {
    font-size: 20px;
  }
  #fractional-button-two {
    right: 0%;
    font-size: 11px;
    height: 22px;
    width: 70px;
    top: 4px;
    margin-bottom: 100px;
    display: block;
    max-width: 300px;
    margin: auto;
  }
  #simplicit-end {
    margin-top: 0px;
  }
  .fractional-ending-text {
    padding: 5px;
  }
}

/* FOOTER MQ */

@media only screen and (min-width: 1530px) {
  #fractional-footer-left-text {
    font-size: 20px;
  }
}

@media only screen and (min-width: 2030px) {
  #fractional-footer-left-text {
    font-size: 22px;
  }
}

@media only screen and (max-width: 660px) {
  #fractional-foot {
    display: flex;
    flex-flow: column;
  }
  #fractional-footer-left-text {
    order: 2;
    font-size: 15px;
  }
  #fractional-footer-right-text {
    float: left;
    margin-left: 32px;
    order: 1;
  }
  #fractional-enter-email {
    width: 65%;
  }
  #fractional-subscribe-button {
    width: 65%;
  }
}

@media only screen and (max-width: 520px) {
  #fractional-foot {
    display: flex;
    flex-flow: column;
  }
  #fractional-footer-left-text {
    order: 2;
    font-size: 12px;
  }
  #fractional-footer-right-text {
    float: left;
    margin-left: 32px;
    order: 1;
  }
  #fractional-enter-email {
    width: 65%;
  }
  #fractional-subscribe-button {
    width: 65%;
  }
}
