#ham-menu {
  background-color: black;
  height: max-content;
}

#lines {
  color: white;
}

#ham-button:hover {
  background-color: #ff99a4 !important;
}

#navigation-burger {
  color: white;
  font-size: 16.5px;
  border-radius: 5px;
  list-style-type: none;
  line-height: 1.1;
}

#navigation-burger:hover {
  background-color: #ff99a4 !important;
}
