#dropdown-button {
  background-color: #ff99a4;
  border: 2px solid rgba(0, 0, 0, 0.45);
  font-size: 15px;
  transform: translateY(-.3rem);
}

#dropdown-button:focus,
#dropdown-button:active {
  box-shadow: none;
  outline: 0px;
}

#navigation {
  color: white;
  text-decoration: none;
  padding: 20px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  top: 20px;
}

#navigation:hover {
  color: #ff99a4;
}

#navigation:active {
  color: #ff99a4;
}

@media screen and (max-width: 767px) {
  #dropdown-button {
    font-size: 12px;
  }
  #navigation {
    font-size: 12px;
  }
}
