#dropdown-button {
  background-color: #ff99a4;
  border: 2px solid rgba(0, 0, 0, 0.45);
  font-size: 18px;
  transform: translateY(-.3rem);
  font-family: "Bebas Neue";
}

#dropdown-button:focus,
#dropdown-button:active {
  box-shadow: none;
  outline: 0px;
}

#navigation { 
  color: white;
  text-decoration: none;
  padding: 20px;
  margin-bottom: 0px;
  font-family: "Bebas Neue";
  font-size: 18px;
}

#navigation:hover {
  color: #ff99a4;
}

#navigation:active {
  color: #ff99a4;
}

@media only screen and (max-width: 952px) {
  #dropdown-button {
    font-size: 16px;
  }
  #navigation {
    font-size: 16px;
  }
}

@media only screen and (max-width: 775px) {
  #dropdown-button {
    font-size: 14px;
  }
  #navigation {
    font-size: 14px;
  }
}

@media only screen and (max-width: 660px) {
  #dropdown-button {
    font-size: 12px;
  }
  #navigation {
    font-size: 12px;
  }
}
