#thinking-woman {
  position: relative;
  height: 814px;
  left: 0px;
}

#image-text {
  top: 420px;
}

#think-simple-text {
  font-family: "Source Sans 3";
  font-style: oblique;
  font-weight: bold;
  background-size: auto;
  background-color: black;
  padding: 10px;
  opacity: 0.8;
  margin-left: 200px;
  margin-right: 200px;
}

#desc-text {
  position: relative;
  height: 117px;
  left: 30px;
  font-family: "Source Sans 3";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
}

#our-services {
  position: relative;
  height: 18px;
  right: 10px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  text-align: right;
  margin-top: 10px;
}

#services {
  position: relative;
  height: 97px;
  right: 10px;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: right;
  list-style-type: none;
}

.let-talk {
  position: relative;
  width: 166px;
  height: 45px;
  color: white;
  background: #ff99a4;
  border: 2px solid rgba(0, 0, 0, 0.45);
  box-sizing: border-box;
  border-radius: 25px;
}

.let-talk:hover {
  background: white;
  color: #ff99a4;
}

#solutions-button-one {
  left: 30px;
  margin-top: 25px;
}

#what-story {
  position: relative;
  font-family: "Bebas Neue";
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}

#group-talk {
  position: relative;
  max-width: 100%;
  height: auto;
  border-radius: 80px;
}

#customer-text {
  position: relative;
  padding: 20px;
  font-family: "Source Sans 3";
  font-size: 20px;
}

#circle-images-container {
  position: relative;
  margin-bottom: 120px;
}

.circle-image-title {
  position: relative;
  text-align: center;
  font-weight: bold;
}

.circle-images {
  position: relative;
  height: 120%;
  width: 300px;
  border-radius: 50%;
  padding: 10px;
}

.ending-text {
  position: relative;
  padding: 30px;
}

.more-simplicit {
  padding: 5px;
  text-align: center;
}

#solutions-button-two {
  right: 22%;
}

footer {
  background-color: black;
  margin-top: 10px;
  overflow: auto;
}

#solutions-footer-left-text {
  float: left;
  margin-top: 10px;
}

#solutions-footer-list-text {
  list-style-type: none;
  color: white;
}

.solutions-footer-icons {
  padding: 5px;
}

#solutions-footer-right-text {
  float: right;
  color: white;
  margin-right: 20px;
  margin-top: 10px;
}

#solutions-enter-email {
  border-radius: 0px;
}

#solutions-subscribe-button {
  color: white;
  background: #ff99a4;
  border: #ff99a4;
  text-align: end;
  width: 100%;
}

@media screen and (max-width: 994px) {
  #image-text {
    top: 340px;
  }
  #thinking-woman {
    height: 614px;
  }
  #desc-text {
    font-size: 16px;
  }
  #solutions-button-one {
    font-size: 14px;
    height: 35px;
    width: 120px;
  }
  #our-services {
    font-size: 12px;
  }
  #services {
    font-size: 12px;
  }
  #customer-text {
    font-size: 16px;
  }
  .circle-images-individual {
    padding: 60px;
  }
  .circle-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 870px) {
  #think-simple-text {
    font-size: 25px;
  }
  #desc-text {
    font-size: 12px; 
  }
  #our-services {
    font-size: 10px;
  }
  #services {
    font-size: 10px;
  }
  #solutions-button-one {
    font-size: 12px;
    height: 32px;
    width: 110px;
  }
}

@media screen and (max-width: 715px) {
  #think-simple-text {
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    margin-left: 150px;
    margin-right: 150px;
  }
  #desc-text {
    font-size: 10px; 
  }
  #our-services {
    font-size: 8.5px;
  }
  #services {
    font-size: 8.5px;
  }
}

@media screen and (max-width: 620px) {
  #thinking-woman {
    height: 400px;
  }
  #image-text {
    top: 220px;
  }
  #think-simple-text {
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    margin-left: 100px;
    margin-right: 100px;
  }
  #solutions-foot {
    display: flex;
    flex-flow: column;
  }
  #solutions-footer-left-text {
    order: 2;
  }
  #solutions-footer-right-text {
    float: left;
    margin-left: 32px;
    order: 1;
  }
  #solutions-enter-email {
    width: 65%;
  }
  #solutions-subscribe-button {
    width: 65%;
  }
}
