header {
  background-color: #ff99a4;
  overflow: auto;
  margin-bottom: 15px;
}

#work-header-left-text {
  font-family: Source Sans 3;
  float: left;
  margin-top: 30px;
  margin-left: 22px;
  margin-bottom: 50px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  width: 420px;
}

#work-header-right-text {
  font-family: Source Sans 3;
  float: right;
  color: white;
  margin-right: 20px;
  margin-top: 30px;
}

#work-header-list-text {
  list-style-type: none;
  color: white;
  font-size: 18px;
  text-align: end;
}

#contact-title {
  margin-left: 20px;
  font-family: Bebas Neue;
  font-size: 34px;
}

#hubspot-form {
  background-color: #c4c4c4;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -40px;
  object-fit: cover;
  object-position: 0 55%;
}

#box {
  position:relative;
  background-color: #c4c4c4;
  height: 60px;
  bottom: 68px;
  margin-left: 20px;
  margin-right: 20px;
  z-index: +3;
}

footer {
  background-color: black;
  margin-top: 10px;
  overflow: auto;
}

#work-footer-left-text {
  float: left;
  margin-top: 10px;
}

#work-footer-list-text {
  list-style-type: none;
  color: white;
}

.work-footer-icons {
  padding: 5px;
  visibility: hidden;
}

#work-footer-right-text {
  float: right;
  color: white;
  margin-right: 20px;
  margin-top: 10px;
}

#inspire-work {
  display: none;
}

#work-enter-email {
  border-radius: 0px;
  display: none;
}

#work-subscribe-button {
  color: white;
  background: #ff99a4;
  border: #ff99a4;
  text-align: end;
  width: 100%;
  display: none;
}

@media screen and (max-width: 724px) {
  #work-header-left-text {
    margin-top: 30px;
    margin-left: 22px;
    margin-bottom: 0px;
    font-size: 16px;
    width: auto;
  }
  #work-header-right-text {
    font-family: Source Sans 3;
    float: none;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: -10px;
  }
  #work-header-list-text {
    list-style-type: none;
    font-size: 16px;
    text-align: left;
  }
  #contact-title {
    margin-left: 20px;
    font-family: Bebas Neue;
    font-size: 30px;
  }
}

/* FOOTER MQ */

@media only screen and (min-width: 1530px) {
  #work-footer-left-text {
    font-size: 20px;
  }
}

@media only screen and (min-width: 2030px) {
  #work-footer-left-text {
    font-size: 22px;
  }
}

@media only screen and (max-width: 660px) {
  #work-foot {
    display: flex;
    flex-flow: column;
  }
  #work-footer-left-text {
    order: 2;
    font-size: 15px;
  }
  #work-footer-right-text {
    float: left;
    margin-left: 32px;
    order: 1;
  }
  #work-enter-email {
    width: 65%;
  }
  #work-subscribe-button {
    width: 65%;
  }
}

@media only screen and (max-width: 520px) {
  #work-foot {
    display: flex;
    flex-flow: column;
  }
  #work-footer-left-text {
    order: 2;
    font-size: 12px;
  }
  #work-footer-right-text {
    float: left;
    margin-left: 32px;
    order: 1;
  }
  #work-enter-email {
    width: 65%;
  }
  #work-subscribe-button {
    width: 65%;
  }
}
